@import './mixin.less';
@import "tailwindcss";

@memolist-gap: 8px;
@memolist-status-margin: 16px;
@memolist-completed-margin: 64px;
@memolist-status-font-size: 13px;
@memolist-padding-horizontal: 12px;
@memolist-completed-padding-bottom: 80px;

div[data-type='memos_view'] .memolist-wrapper {
  .flex(column, flex-start, flex-start);
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  gap: @memolist-gap;
  // .hide-scroll-bar();

  > .status-text-container {
    .flex(column, flex-start, center);
    width: 100%;
    margin-top: @memolist-status-margin;
    margin-bottom: @memolist-status-margin;

    &.completed {
      margin-bottom: @memolist-completed-margin;
    }

    &.invisible {
      visibility: hidden;
    }

    > .status-text {
      font-size: @memolist-status-font-size;
    }
  }

  &.completed {
    padding-bottom: @memolist-completed-padding-bottom;
  }
}

div[data-type='memos_view'].mobile-view .memolist-wrapper {
  padding: 0 @memolist-padding-horizontal;
}

.theme-light {
  div[data-type='memos_view'] .memolist-wrapper {
    > .status-text-container > .status-text {
      color: gray;
    }
  }
}

.theme-dark {
  div[data-type='memos_view'] .memolist-wrapper {
    > .status-text-container > .status-text {
      color: rgb(255, 255, 255);
    }
  }
}
