@import './mixin.less';

div[data-type='memos_view'] {
	.memo-editor-wrapper {
		&[data-purpose="Memo Editor Warpper"] {

			/* Layout */
			.flex(column, flex-start, flex-start);
			position: relative;
			width: 100%;
			height: auto;
			padding: 16px;

			/* Visuals */
			background-color: var(--background-secondary);
			// border-radius: 8px;
			// border-color: var(--background-secondary);
		}

		// .common-editor-wrapper &.common-editor-inputer &.cm-scroller &.markdown-source-view.mod-cm6 {}

		.markdown-source-view.mod-cm6 {
			height: auto;
			overflow-x: hidden;
			min-height: 1.5rem;
			max-height: 7.5rem;
		}
	}

	&.mobile-view {
		.memo-editor-wrapper {
			width: calc(100% - 24px);
			margin: auto;
		}
	}
}

button.submit-button {
	border-radius: 4px;
	transition-duration: 200ms;
	transition-timing-function: var(--ease-in-out);
	background-color: var(--color-accent);
	color: var(--color-white);

	&:hover {
		cursor: pointer;
		filter: brightness(0.95);
		// background-color: var(--text-accent-hover);
	}
}