.memo-header-icon {
	color: var(--text-faint) !important;
	text-decoration-color: var(--text-faint);

	svg {
		stroke-color: var(--text-faint);
		background-color: transparent;
		color: var(--text-faint) !important;
		text-decoration-color: var(--text-faint);

	}


}
